@model MvcApplicationRUTH.Models.Client
@{
    ViewBag.Title = "ClientDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Delete</h2>
<section class="content">
    <div class="panel panel-body">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dd style="text-transform: uppercase;">
                    @Html.DisplayFor(model => model.clientNoID)
                </dd>

                <dd style="text-transform: uppercase;">
                    @Html.DisplayFor(model => model.clientName)
                </dd>
            </dl>
            <br /><br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-md-offset-5 col-md-3">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink(" Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
</section>
